<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thymeleaf Fragments: Electronics Store</title>
  <th:block th:fragment="head-link">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" href="/customer/vendor/simplebar/dist/simplebar.min.css">
    <link rel="stylesheet" href="/customer/vendor/tiny-slider/dist/tiny-slider.css">
    <link rel="stylesheet" href="/customer/vendor/drift-zoom/dist/drift-basic.min.css">
    <link rel="stylesheet" href="/customer/vendor/lightgallery/css/lightgallery-bundle.min.css">
    <!-- Main Theme Styles + Bootstrap -->
    <link rel="stylesheet" href="/customer/css/theme.min.css">
  </th:block>
</head>
<body>

<th:block th:fragment="body-script">
  <!-- Vendor scrits: js libraries and plugins -->
  <script src="/customer/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/customer/vendor/simplebar/dist/simplebar.min.js"></script>
  <script src="/customer/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
  <script src="/customer/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
  <script src="/customer/vendor/drift-zoom/dist/Drift.min.js"></script>
  <script src="/customer/vendor/lightgallery/lightgallery.min.js"></script>
  <script src="/customer/vendor/lightgallery/plugins/video/lg-video.min.js"></script>
  <!-- Main theme script -->
  <script src="/customer/js/theme.min.js"></script>
</th:block>
</body>
</html>